.MMM-Losung {
  display: flex;
  flex-direction: column;
  /* width: 100%;
  height: 100%; */
  /* margin: 0; */
  padding: 0;
  /* position: relative; */
  /* align-items: center;
  justify-content: center;
  justify-self: center; */
  font: 1rem sans-serif;
}
.moravian-header{
  text-align: start;
  font: 1.0rem sans-serif;
  margin: 0 0 0.25rem 0;

}
.moravian-text {
  text-align: start;
  font: 0.75rem sans-serif;
  margin: 0 0 0 1rem;
  color: #fff;
}
.moravian-vers {
  text-align: end;
  margin: 0.25rem 0 0.5rem 0;
}
/* .moravian-moravian::after {
  width: 75%;
  height: 1px;
  background-color: #999;
  content: "";
  margin: 0 0 0.5rem 1rem;
  display: flex; 
} */

.teaching-text {
  text-align: start;
  margin: 0 0 0 1rem;
  color: #fff;
}
.teaching-vers {
  text-align: end;
  margin: 0.25rem 0 0rem 0;
}
